.searchArea{
  flex-direction: column;
  width: 800px;
  margin-inline: auto;
}
.flex{
  display: flex;
}
.inputArea{
  flex-direction: row;
  justify-content: space-between;
}
.inputBox{
  width: 50%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding-inline: 10px;
  font-size: large;
}
.btn{
  background-color: greenyellow;
  width: 40%;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 20px;
}

.resultsArea{
  flex-direction: column;
  width: 800px;
  margin-inline: auto;
  gap: 10px;
}
.profileBox{
  border: 1px solid rgb(0, 0, 0);
  height: 100px;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}